* {
  margin: 0%;
}

.App {
  background-color: #acacac;
  padding: 1rem;
}
.header--container {
  text-align: center;
  font-size: 2rem;
  color: white;
  padding: 1rem;
}

.workType {
  font-size: 1.2rem;
  margin-top: 0.7rem;
}

.card {
  background: white;
  text-align: center;
  padding: 1rem;
}

.content {
  color: white;
  padding: 1rem;
}
ul > p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
}
.content > li {
  margin-top: 0.5rem;
  line-height: 1.3rem;
}
